*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Helvetica';
    background: #fff url(../img/fundo.png) repeat-x;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#container{
    width: 750px;
    margin: 0 auto;
}
#topo{
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right;
    padding-top: 30px ;
}
#topo ul{
    width: 640px;

    margin-top: 40px;
}
#topo ul li{
    display: inline;
    height: 40px;
    padding: 10px 20px;
    margin: -3px;
    background:#b10333 url(../img/divisor.png) no-repeat right;
}
#topo ul li a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}
#topo ul .primeiro{
    background:#b10333;
}
#topo ul li a:hover{
    color: #69001d;
}
#logo{
    display: block;
}
#conteudo{
    background: #f5f5f5;
    margin-top: 60px;
}
#primario{
    width: 270px;
    margin: 0px 15px 20px 15px;
    float: left;
    background: blue;
}
#secundario{
    width: 270px;
    float: left;
    background: brown;
}
#lateral{
    width: 180px;
    float: left;
    background: chartreuse;
}
#rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
}
#conteudo-rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;

}
