*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Helvetica';
    background: #fff url(../img/fundo.png) repeat-x;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color:rgb(199, 0, 0);
}
h2{
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}
h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background: #b10333;
    color: #fff;
}
img{
    border: 2px solid #dfdfdf;
}
img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}
label{
    display: block;
    cursor: pointer;
    padding-left: 5px;
}
input{
    padding: 5px;
    font-size: 0.7em;
    background: #fff;
    width: 150px;
}
input.submit{
    width: 80px;
    color: #fff;
    background-color:#b10333;
    border: 2px solid #870529;
    margin-top: 5px;
    padding: 5px;
   
}
input.submit:hover{
    background-color: #870529;
    cursor: pointer;
    
}
#container{
    width: 750px;
    margin: 0 auto;
}
#topo{
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right;
    padding-top: 30px ;
}
#topo ul{
    width: 640px;

    margin-top: 40px;
}
#topo ul li{
    display: inline;
    height: 40px;
    padding: 10px 20px;
    margin: -3px;
    background:#b10333 url(../img/divisor.png) no-repeat right;
}
#topo ul li a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}
#topo ul .primeiro{
    background:#b10333;
}
#topo ul li a:hover{
    color: #69001d;
}
#logo{
    display: block;
    border:none;
}
#conteudo{
    background: #f5f5f5;
    margin-top: 60px;
}
#lateral{
    width: 180px;
    float: left;
}
#primario{
    width: 270px;
    margin: 0px 15px 20px 15px;
    float: left;
}
#duas-colunas #primario{
    width: 540px;
    margin: 0px 15px 20px 15px;
    float: left;
}
#uma-coluna #primario{
    width: 750px;
    margin: 0px 15px 20px 15px;
    float: left;
}
#secundario{
    width: 270px;
    float: left;
}
#rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
    text-align: center;
}
#conteudo-rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;

}
#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    background: #f9f9f9 url(../img/marcador.png) no-repeat left;
    text-indent: 18px;
    color: #a1a1a1;
}
#lista-noticia li{
    padding: 10px 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}
#lista-noticia li a{
    text-decoration: none;
}
#lista-noticia li a img{
    float: left;
    margin: 5px;
    width: 95px;
}
#lista-noticia li a h3{
   font-size: 0.8em;
   background:whitesmoke;
   color: #3e7ab9;
}
#lista-noticia li a p{
    font-size: 0.7em;
    margin: 3px;
}
 #lista-noticia li:hover{
    background: #eeee;
    cursor: pointer;
}
.caixa{
    margin: 10px 0px;
    background: #f3f3f3 url(../img/fundo-caixa.png);
    padding: 5px;
}
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

